<html lang="en" class="bg-gray-200">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Actions</title>
</head>
<body class="">
    <%- include('../partials/drawer.ejs') %>

    <main>
        <div id="content" class="!p-0 min-h-screen bg-gray-200">

            <h1 class="text-2xl text-center py-7">Actions History</h1>

            <div class="text-center px-4 sticky top-3">
                <div class="bg-white rounded-lg shadow-md py-4 px-4 inline-block">
                    <h1 class="text-center text-secondary font-semibold text-lg">Key</h1>
                    <div class="mt-2 flex justify-center items-center gap-3 flex-wrap">
                        <% Object.entries(ackColorObj).forEach(([key, value]) => { %>
                            <div class="flex gap-1 justify-center items-center">
                                <span class="w-4 h-4 rounded-full" <%- `style='background: ${value};'` %>></span>
                                <p><%= key %></p>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div> 

            <div class="mt-3" id="event-card-wrapper">
                <% ackHistory.forEach((ack, index) => { %>
                    <div class="event-card" <%- `style='border: 2px solid ${ack.ackColor};'` %>>
                        <p class="hidden first-address"><%= ack.executedBy %></p>
                        <p class="hidden second-address"></p>
                        <div class="flex items-center gap-2">
                            <p class="!mt-0 pr-2">Txn Hash:</p>
                            <span class="!pl-0 truncate overflow-hidden txn-hash"><%= ack.transactionHash %></span>
                            <div class="flex items-center">
                                <ion-icon name="copy-outline" class="copy-txn-hash cursor-pointer min-w-4"></ion-icon>
                                <ion-icon name="checkmark-outline" class="copy-txn-hash-check hidden min-w-4"></ion-icon>
                            </div>
                        </div>

                        <p>Action: <span class="!font-bold"><%= ack.type %></span></p>
                        <p>Time: <span class="timestamp"><%= ack.timeAcknowledged %></span></p>
                        <p>Executed on Land: <span><%= ack.landName %></span></p>

                        <div class="flex items-center gap-2 mt-2">
                            <p class="!mt-0 pr-2">Land ID:</p>
                            <span class="!pl-0 truncate overflow-hidden land-id"><%= ack.landId %></span>
                            <div class="flex items-center">
                                <ion-icon name="copy-outline" class="copy-land-id cursor-pointer min-w-4"></ion-icon>
                                <ion-icon name="checkmark-outline" class="copy-land-id-check hidden min-w-4"></ion-icon>
                            </div>
                        </div>

                        <p>Executed By: <span class="first-address-resolved !font-bold">Fetching info...</span></p>

                        <a href="https://sepolia.etherscan.io/tx/<%= ack.transactionHash %>" target="_blank" class="mt-2 inline-block underline text-blue-400 text-sm">View on Etherscan</a>
                    </div>
                <% }); %>
            </div>
            <% if(ackHistory.length == 0){ %>
                <%- include('../partials/no-data.ejs') %>
            <% } %>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="./js/functions.js"></script>
    <script src="./js/drawer.js"></script>

    <script>
        
        Array.from(document.querySelectorAll('.event-card')).forEach(async (card) => {
            card.querySelector('.copy-txn-hash').addEventListener('click', e => {
                navigator.clipboard.writeText(card.querySelector('.txn-hash').textContent);
                card.querySelector('.copy-txn-hash-check').classList.toggle('hidden');
                card.querySelector('.copy-txn-hash').classList.toggle('hidden');

                setTimeout(() => {
                    card.querySelector('.copy-txn-hash-check').classList.toggle('hidden');
                    card.querySelector('.copy-txn-hash').classList.toggle('hidden');
                }, 2000);
            });

            card.querySelector('.copy-land-id').addEventListener('click', e => {
                navigator.clipboard.writeText(card.querySelector('.land-id').textContent);
                card.querySelector('.copy-land-id-check').classList.toggle('hidden');
                card.querySelector('.copy-land-id').classList.toggle('hidden');

                setTimeout(() => {
                    card.querySelector('.copy-land-id-check').classList.toggle('hidden');
                    card.querySelector('.copy-land-id').classList.toggle('hidden');
                }, 2000);
            });

            let timestampSpan = card.querySelector('.timestamp');
            let timestamp = timestampSpan.textContent;

            let date = new Date(timestamp * 1000);

            timestampSpan.textContent = formatDate(date);

            await fetchAndPopulateUserDetails(card, false);
        });
    </script>
</body>
</html>